<ion-view title="'About Ellen'" left-buttons="leftButtons">
    <ion-content has-bouncing="true" class="violence" has-header="true">
        <div class="item center dark-bg">
            <img class="full-image" src="img/logo.png" />
        </div>
        <div class="list category">
            <div class="item item-icon-left comment">
                <i class="icon ion-android-contact"></i>
                <h2>A reliable friend</h2>
                <p>
                    Ellen is a community-driven chat bot whom women can ask or talk to.
                </p>
            </div>
            <div class="item item-icon-left comment">
                <i class="icon ion-lightbulb"></i>
                <h2>A fast learner</h2>
                <p>
                    She learns from the interaction of the members of the online social community.
                    Her knowledge is a collective representation of women's most common concerns so
                    she gets smarter every time members interact.
                </p>
            </div>
            <div class="item item-icon-left comment">
                <i class="icon ion-android-friends"></i>
                <h2>A thoughtful community</h2>
                <p>
                    Powering Ellen's knowledge base is an online social community where
                    women can search for pieces of advice and helpful information
                    to help make their life better.
                </p>
            </div>
            <div class="item item-icon-left comment">
                <i class="icon ion-heart"></i>
                <h2>Made with love</h2>
                <p>
                    Ellen is created as an entry for Philippine Commission on Women's
                    Mobile App Development Competition by Aaron Noel De Leon and Jose
                    Marcelius Hipolito.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>