<ion-view title="'Article'" left-buttons="leftButtons">
    <ion-content has-header="true" has-footer="true" class="article">
        <div class="item item-image">
            <img src="img/Thomson-Reuters-Blog-pic-630x236.jpg" />
        </div>
        <div class="item item-avatar">
            <img src="img/319885_448812831809748_686101519_n.jpg">
            <h2>Know Your Rights</h2>
            <p>Philippine Commission on Women</p>
        </div>
        <div class="item item-body">
            <p>
                ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur 
            </p>
            <p>
                leasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain s
            </p>
            <p>
                occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
            </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-ios7-heart-outline"></i>
                24 Likes
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-ios7-chatbubble-outline"></i>
                3 Comments
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-ios7-redo-outline"></i>
                Share
            </a>
        </div>
        <div class="item item-avatar comment">
            <img src="img/370796_1634354692_1856805680_q.jpg">
            <h2>Joey Hipolito</h2>
            <p>Please like and share with your friends. piditate non provident, similique sunt in culpa qui officia deserunt mollitia a</p>
        </div>
        <div class="item item-avatar comment">
            <img src="img/319885_448812831809748_686101519.jpg">
            <h2>Kristina Alfonsine</h2>
            <p>Yeah, right!</p>
        </div>
        <div class="item item-avatar comment">
            <img src="img/203292_826902383_870313002_q.jpg">
            <h2>Rex Bringula</h2>
            <p>Perfect! This means a lot to me.</p>
        </div>
    </ion-content>
    
    <ion-footer-bar class="bar bar-footer bar-light padding-left">
        <form class="row">
            <input id="query" name="query" type="text" placeholder="Write a comment" class="col padding-horizontal" ng-model="user.query" />
            <input type="submit" value="Comment" class="col col-25 button button-dark" />
        </form>
    </ion-footer-bar>
</ion-view>