<ion-view title="'Browse Categories'" left-buttons="leftButtons">
    <ion-content has-bouncing="true" has-header="true">
        <div class="category list">

            <a class="item item-icon-left" href="#/{{item}}/0">
                <i class="icon ion-ios7-cloud-outline"></i>
                General
                <span class="badge badge-stable">25</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-film-outline"></i>
                Entertainment
                <span class="badge badge-stable">8</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-calculator-outline"></i>
                Education
                <span class="badge badge-stable">12</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-people-outline"></i>
                Family
                <span class="badge badge-stable">20</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-medkit-outline"></i>
                Health
                <span class="badge badge-stable">22</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-briefcase-outline"></i>
                Jobs
                <span class="badge badge-stable">17</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-wineglass-outline"></i>
                Lifestyle
                <span class="badge badge-stable">15</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-monitor-outline"></i>
                News
                <span class="badge badge-stable">5</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-heart-outline"></i>
                Relationships
                <span class="badge badge-stable">31</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-box-outline"></i>
                Violence Against Women
                <span class="badge badge-stable">18</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-eye-outline"></i>
                Women Empowerment
                <span class="badge badge-stable">15</span>
            </a>

    </ion-content>
</ion-view>