<ion-view title="'News Feed'" left-buttons="leftButtons">
    <ion-content has-header="true">
        <div class="list card article-card">
            <div class="item item-avatar">
                <img src="img/319885_448812831809748_686101519_n.jpg">
                <h2>Know your rights!</h2>
                <p>Philippine Commission on Women</p>
            </div>

            <img class="item item-image full-image" src="img/Thomson-Reuters-Blog-pic-630x236.jpg">

            <div class="item item-body">
                <p>
                    As smart women, you should know your rights especially the meaning
                    of Lorem ipsum dolor sit amet. In case you don't know, then you must
                    lorem ipsum dolor sit amet again..
                </p>
                <p>
                    <a href="#" class="subdued">2 Likes</a>
                    <a href="#" class="subdued">3 Comments</a>
                </p>
            </div>

            
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-ios7-heart-outline"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios7-chatbubble-outline"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios7-redo-outline"></i>
                    Share
                </a>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/9cde9068bea7cad540d57383fe4cbed0.jpeg">
                <h2>Aaron Noel De Leon</h2>
                <p>February 25, 2013</p>
            </div>

            <div class="item item-body">
                <p>
                    What makes you fall in love?
                </p>
                <p>
                    <a href="#" class="subdued">12 Likes</a>
                    <a href="#" class="subdued">143 Answers</a>
                </p>
            </div>
            
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-ios7-heart-outline"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios7-chatbubble-outline"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios7-redo-outline"></i>
                    Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>