<ion-view title="'Profile'" left-buttons="leftButtons">
    <ion-content class="profile" has-header="true">
        
        <div class="list card card-full-width">
            <div class="item item-body center">
                <img class="circle" src="img/9cde9068bea7cad540d57383fe4cbed0.jpeg">
                <h2>Aaron Noel De Leon</h2>
                <p>Taytay, Rizal</p>
            </div>
        </div>

        <div class="card card-full-width">
            <a class="item item-icon-left dark-bg light" href="#">
                <i class="icon ion-ios7-help-outline energized"></i>
                5 Questions
            </a>
        </div>

        <div class="card">
            <div class="item item-body">
                <p>
                    What makes you fall in love? As smart women, you should know your rights especially the meaning
                    of Lorem ipsum dolor sit ametin..
                </p>
                <p>
                    <a href="#" class="subdued">12 Likes</a>
                    <a href="#" class="subdued">143 Answers</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>
                    What makes you fall in love?
                </p>
                <p>
                    <a href="#" class="subdued">12 Likes</a>
                    <a href="#" class="subdued">13 Answers</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>
                    You should know your rights especially the meaning
                    of Lorem ipsum dolor sit ametin..
                </p>
                <p>
                    <a href="#" class="subdued">2 Likes</a>
                    <a href="#" class="subdued">43 Answers</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>
                    What makes you fall in ametin..
                </p>
                <p>
                    <a href="#" class="subdued">12 Likes</a>
                    <a href="#" class="subdued">13 Answers</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>
                    What now?
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">13 Answers</a>
                </p>
            </div>
        </div>
        
        <div class="card card-full-width">
            <a class="item item-icon-left dark-bg light" href="#">
                <i class="icon ion-ios7-checkmark-outline energized"></i>
                32 Answers
            </a>
        </div>
        
        <div class="card">
            <div class="item item-body">
                <p>
                    What makes you fall in mart women, you should know your rights especially the meaning
                    of Lorem ipsum dolor sit ametin..
                </p>
                <div class="card">
                    <div class="item item-icon-left">
                        <i class="icon ion-help gray"></i> 
                        <p>What are the chaldskjfei weir lksdf sldui?</p>
                        
                    </div>
                </div>
                <p>
                    <a href="#" class="subdued">12 Likes</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>
                    What makes you fall in mart women, you should know your rights especially the meaning
                    of Lorem ipsum dolor sit ametin..
                </p>
                <div class="card">
                    <div class="item item-icon-left">
                        <i class="icon ion-help gray"></i> 
                        <p>What are the chaldskjfei weir lksdf sldui?</p>
                        
                    </div>
                </div>
                <p>
                    <a href="#" class="subdued">12 Likes</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                <p>
                    What makes you fall in mart women, you should know your rights especially the meaning
                    of Lorem ipsum dolor sit ametin..
                </p>
                <div class="card">
                    <div class="item item-icon-left">
                        <i class="icon ion-help gray"></i> 
                        <p>What are the chaldskjfei weir lksdf sldui?</p>
                        
                    </div>
                </div>
                <p>
                    <a href="#" class="subdued">12 Likes</a>
                </p>
            </div>
        </div>
        
    </ion-content>
</ion-view>