<ion-view title="'Question'" left-buttons="leftButtons">
    <ion-content has-header="true" has-footer="true">
        <div class="item item-avatar">
            <img src="img/203292_826902383_870313002_q.jpg">
            <h2>Rex Bringula</h2>
            <p>February 25, 2014</p>
        </div>
        <div class="item item-body">
            <p>
                I was raped. What to do?
            </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-ios7-heart-outline"></i>
                24 Likes
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-ios7-lightbulb-outline"></i>
                3 Answers
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-ios7-redo-outline"></i>
                Share
            </a>
        </div>
        <div class="item item-avatar comment">
            <img src="img/370796_1634354692_1856805680_q.jpg">
            <h2>Joey Hipolito</h2>
            <p>Please like and share with your friends. piditate non provident, similique sunt in culpa qui officia deserunt mollitia a</p>
        </div>
        <div class="item item-avatar comment">
            <img src="img/319885_448812831809748_686101519.jpg">
            <h2>Kristina Alfonsine</h2>
            <p>Yeah, right!</p>
        </div>
        <div class="item item-avatar comment">
            <img src="img/203292_826902383_870313002_q.jpg">
            <h2>Rex Bringula</h2>
            <p>Perfect! This means a lot to me.</p>
        </div>
    </ion-content>
    
    <ion-footer-bar class="bar bar-footer bar-light padding-left">
        <form class="row">
            <input id="query" name="query" type="text" placeholder="Write an answer" class="col padding-horizontal" ng-model="user.query" />
            <input type="submit" value="Answer" class="col col-25 button button-dark" />
        </form>
    </ion-footer-bar>
</ion-view>