<ion-view title="'Report Violence'" left-buttons="leftButtons">
    <ion-content class="violence" has-header="true">
        <div class="list category">
            <a class="item item-icon-left comment" href="#/{{item}}/0">
                <i class="icon ion-android-hand"></i>
                <h2>Physical Violence</h2>
                <p>
                    acts that include bodily or physical harm.
                </p>
            </a>
            <a class="item item-icon-left comment" href="#/{{item}}/0">
                <i class="icon ion-female"></i>
                <h2>Sexual Violence</h2>
                <p>
                    acts causing or attempting to cause the victim to engage in any sexual activity by force, threat of force, physical or other harm or threat of physical or other harm or coercion
                </p>
            </a>
            <a class="item item-icon-left comment" href="#/{{item}}/0">
                <i class="icon ion-eye"></i>
                <h2>Psychological Violence</h2>
                <p>
                    acts or omissions causing or likely to cause mental or emotional suffering of the victim such as but not limited to intimidation, harassment, stalking, damage to property, public ridicule or humiliation, repeated verbal abuse and marital infidelity.
                </p>
            </a>
            </a>
            <a class="item item-icon-left comment" href="#/{{item}}/0">
                <i class="icon ion-pricetag"></i>
                <h2>Economic Abuse</h2>
                <p>
                    acts that make or attempt to make a woman financially dependent.
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>